<%= form_for(@sample_task) do |f| %>
  <% if @sample_task.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@sample_task.errors.count, "error") %> prohibited this sample_task from being saved:</h2>
    <ul>
    <% @sample_task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cron %><br />
    <%= f.text_field :cron %>
  </div>
  <div class="field">
    <%= f.label :times %><br />
    <%= f.text_field :times %>
  </div>
  <div class="field">
    <%= f.label :done %><br />
    <%= f.check_box :done %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
